.sign-up-form {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
}

.form-group {
  margin-bottom: 20px;
  color: #ccc;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input.error {
  border-color: red;
}

.error-message {
  color: rgb(20, 232, 232);
  margin-top: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.password-input {
  position: relative;
}

.password-input input {
  padding-right: 30px; /* Adjust padding to accommodate icon */
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust right position as needed */
  transform: translateY(-50%);
  cursor: pointer;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: calc(100% - 30px); /* Adjust width to accommodate icon */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

body{
  background-image: url("https://images.pexels.com/photos/573130/pexels-photo-573130.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
}